:root {
  --font-family: monospace;
  --font-size-xs: 2rem;
  --font-size-sm: 1.5rem;
  --color-white: #FFFFFF;
  --cell-small: 18px;
  --cell-default: 20px;
  --cell-background-color: #f7f7f7;
  --button-height: 3rem;
  --button-width: 3rem;
  --button-font-size: 1.5rem;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  background: rgb(55, 11, 90);
  background: linear-gradient(19deg, rgba(55, 11, 90, 1) 0%, rgba(162, 30, 102, 1) 100%);
  height: 100vh;
}

p {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;

  @media (min-width: 768px) {
    align-items: center;
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: auto min-content;
  justify-content: center;
  align-content: baseline;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 2rem 1rem;
}

.title {
  grid-row: 1;
  text-transform: uppercase;
  font-size: 2rem;
  grid-column: 1 / span 2;
  font-weight: bold;
  text-align: center;
  color: var(--color-white);
  margin: 0;
  align-self: end;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.game-board {
  grid-row: 2;
}


.game-data {
  display: grid;
  align-content: start;
  grid-row-gap: 1.5rem;
  grid-row: 2;
}

.data-wrapper {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.shadow {
  background: rgb(29 29 29 / 50%);
  border-radius: 0.25rem;
  padding: 0.75rem 0.65rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.data-title {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.next-board {
  grid-row-gap: 0.25rem;
}

.data-value {
  color: var(--color-white);
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.game-over {
  grid-column: 1 / span 2;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.row {
  display: flex;
}

.row:last-child {
  border-bottom: none;
}


.cell {
  width: var(--cell-small);
  height: var(--cell-small);
  background: var(--cell-background-color);
  border: 1px solid #000000;
  
  @media (min-width: 768px) {
    width: var(--cell-default);
    height: var(--cell-default);
  }
}

.mcontrols-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  margin: 0 auto 24px;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .controls {
    display: none;
  }
}

.button {
  width: var(--button-width);
  height: var(--button-height);
  background-position: center center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  border: none;
}

.button.left {
  background-position: 40% center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z'/%3e%3c/svg%3e");
}

.button.right {
  background-position: 60% center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3e%3c/svg%3e");
}

.button.down {
  background-position: 50% center;
  transform: rotate(90deg);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3e%3c/svg%3e");
}

.rotate {
  background-position: 40% center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M5.115 3.515c4.617-4.618 12.056-4.676 16.756-.195l2.129-2.258v7.938h-7.484l2.066-2.191c-2.82-2.706-7.297-2.676-10.073.1-4.341 4.341-1.737 12.291 5.491 12.291v4.8c-3.708 0-6.614-1.244-8.885-3.515-4.686-4.686-4.686-12.284 0-16.97z'/%3e%3c/svg%3e");
}

/* T shape */
[data-value='3'],
[data-value='-3'] {
  background: #9900fe;
}

/* Left L shape */
[data-value='4'],
[data-value='-4'] {
  background: #1500ff;
}

/* Right L shape */
[data-value='5'],
[data-value='-5'] {
  background: #ffaa00;
}

/* Right skew shape */
[data-value='6'],
[data-value='-6'] {
  background: #00ff00;
}

/* Left skew shape */
[data-value='7'],
[data-value='-7'] {
  background: #ff0100;
}

/* Square shape */
[data-value='8'],
[data-value='-8'] {
  background: #feff00;
}

/* Bar shape */
[data-value='9'],
[data-value='-9'] {
  background: #0afeff;
}

/* Edge pieces */
[data-value='-1'],
[data-value='-2'] {
  background: grey;
}

button {
  touch-action: manipulation;
}
