:root {
  --font-family: "Courier New", sans-serif;
  --title-font-size-sm: 20px;
  --title-font-size: 30px;
  --cell-background-color: #FFFFFF;
  --button-height: 48px;
  --button-width: 48px;
  --background-dimention: 48px;
  --button-font-size: 20px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3F3F3F;
}

.boardWrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: auto 100px;
  grid-template-rows: 60px auto min-content;
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  height: 100vh;
}

.board {
  margin-bottom: 12px;
}
.stats {
  display: grid;
  align-content: start;
  justify-items: center;
  grid-row-gap: 5px;
  grid-row: 2;
}

.statLabel {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

.score {
  margin: 0 0 12px;
  color: #FFFFFF;
}

.gameStatus {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;  
}

.gameTitle {
  grid-column: 1;
  grid-row: 1;
  text-transform: uppercase;
  font-size: var(--title-font-size);
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  align-self: end;
}


@media (max-width: 767px) {
  .gameTitle {
    font-size: var(--title-font-size-sm);
    grid-column: 1 / span 2;
  }
}

.cell {
  width: 10px;
  height: 10px;
  background: var(--cell-background-color);
  border: 1px solid #000000;
}

@media (min-width: 768px) {
  .cell {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 768px) {
  .controls {
    display: none;
  }
}

.controls {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.button {
  background-size: var(--background-dimention);
  border: none;
}

.directionalButton {
  width: var(--button-width);
  height: var(--button-height);
  background-position: center center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.directionalButton.left {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M0 12l9-8v6h15v4h-15v6z'/%3e%3c/svg%3e");
}

.directionalButton.right {
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M0 12l9-8v6h15v4h-15v6z'/%3e%3c/svg%3e");
  margin-left: 12px;
}

.directionalButton.down {
  transform: rotate(-90deg);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M0 12l9-8v6h15v4h-15v6z'/%3e%3c/svg%3e");
}

.rotate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M5.115 3.515c4.617-4.618 12.056-4.676 16.756-.195l2.129-2.258v7.938h-7.484l2.066-2.191c-2.82-2.706-7.297-2.676-10.073.1-4.341 4.341-1.737 12.291 5.491 12.291v4.8c-3.708 0-6.614-1.244-8.885-3.515-4.686-4.686-4.686-12.284 0-16.97z'/%3e%3c/svg%3e");
  margin-left: 12px;
}

[data-value="3"],
[data-value="-3"] {
  background: #FFFF01;
}
[data-value="4"],
[data-value="-4"] {
  background: #00FF01;
}
[data-value="5"],
[data-value="-5"] {
  background: #FE0000;
}
[data-value="6"],
[data-value="-6"] {
  background: #AA00FF;
}
[data-value="7"],
[data-value="-7"] {
  background: #FFA600;
}
[data-value="8"],
[data-value="-8"] {
  background: #0000FE;
}
[data-value="9"],
[data-value="-9"] {
  background: #01FFFE;
}

[data-value="-1"],
[data-value="-2"] {
  background: grey;
}

.row {
  display: flex;
}

.row:last-child {
  border-bottom: none;
}

.mainBoard {
  grid-row: 2;
}

button {
  touch-action: manipulation;
}