body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cell {
  width: 20px;
  height: 20px;
  background: #ffffff;
}

[data-value="1"] {
  background: red;
}

.row {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  grid-gap: 1px;
  border-bottom: 1px solid black;
}

.row:last-child {
  border-bottom: none;
}

.board {
  width: 62px;
  background: #000000;
  border: 1px solid #000000;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1px;
  margin-bottom: 15px;
}
